@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#content1-3 DIV {
  text-align: left;
}
#footer1-4 P {
  text-align: center;
}
#msg-box4-1 .mbr-header__text {
  color: #000000;
  font-size: 24px;
  text-align: left;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-1 .mbr-article P {
  color: #7c706b;
  text-align: left;
}
#social-buttons1-0 .mbr-header__text DIV {
  color: #efefef;
}
#social-buttons1-0 .mbr-header__text {
  color: #efefef;
}


#header1-0 H1 {
  text-align: center;
}
#header1-0 P {
  text-align: center;
}
#msg-box4-4 .mbr-header__text {
  color: #252525;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article P {
  color: #7c706b;
  text-align: left;
}
#content4-0 P {
  text-align: left;
}
#content4-0 .mbr-section__col .mbr-header__text {
  text-align: left;
}
#pricing-table1-0 .mbr-plan__details UL {
  text-align: center;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#footer1-0 P {
  text-align: center;
}


#social-buttons2-0 .mbr-header__text {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#footer1-0 P {
  text-align: center;
}


#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .btn {
  font-size: 36px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#footer1-0 P {
  text-align: center;
}
#social-buttons1-0 .mbr-header__text {
  text-align: left;
}
#social-buttons1-0 .mbr-header__text SPAN {
  text-align: left;
}
#msg-box4-1 .mbr-header__text {
  color: #000000;
  text-align: left;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #000000;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #000000;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #000000;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__text {
  color: #000000;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-5 .mbr-header__text {
  color: #000000;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text {
  color: #000000;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
